<div id="<%= dom_id user %>" >

  <div class="user_item" >
    <p>
    <% if !user.photo.strip.empty? %>
      <img src="<%= user.photo %>" class="user_photo" alt="<%= user.photo %>" />
    <% else %>
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="user_photo" alt="user avatar" />
    <% end %>
    </p>
    
    
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>


    <p>
      <strong>Posts counter:</strong>
      <%= user.posts_counter %>
    </p>

  </div>


  <% if !@posts.nil? && !url_for.include?('post') %>
    <p class="bio">
      <strong><%= user.name%>'s Bio:</strong>
      <%= "#{user.bio}. " * 3 %>
    </p>

    
    <%= render user.recent_posts(3)  %>
    
  <% end %>
  
</div>

  