<div id="<%= dom_id user %>" >
  <h2>_user</h2>
  <div class="user_item" >
    <p>
    <% if !user.photo.blob.nil? %>
      <%= image_tag user.photo, class:'user_photo', alt:"user avatar" %>
    <% end %>
    </p>
    
    
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>


    <p>
      <strong>Posts counter:</strong>
      <%= user.posts_counter %>
    </p>

  </div>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <%= render @posts if !@posts.nil? && !url_for.include?('post') %>

  
</div>
