<p style="color: green"><%= notice %></p>

<header>
  <h2>All users</h2>
  
  <% if user_signed_in? %>
    <%= button_to 'New post', post_new_path(id: current_user.id), method: 'get', class: 'link-btn' %>
  <% end %>
  

<header>
<div id="users">
  <% @users.each do |user| %>
    <%= link_to "/users/#{user.id}" do %>
      
      <%= render user %>

    <% end %>
  <% end %>
</div>

<%# <%= link_to "New user", new_user_path %>
