<p style="color: green"><%= notice %></p>

<header>
  <h2>All users</h2>
  <div class="link-btn">
  <%= link_to 'New post', post_new_path(id: User.first.id), method: 'new' %>
  </div>

<header>
<div id="users">
  <% @users.each do |user| %>
    <%= link_to "/users/#{user.id}" do %>
      
      <%= render user %>

    <% end %>
  <% end %>
</div>

<%# <%= link_to "New user", new_user_path %>
