<p style="color: green"><%= notice %></p>

Recent Posts

<%= render @user %>

<div class="bottom">
  <%# <%= link_to "Edit this user", edit_user_path(@user) %>
  <p>
    <strong><%= link_to "Back to users", users_path %></strong>
  </p>
  <p>
    <strong>
    <%= link_to "SHOW ALL POSTS", show_a_user_posts_comments_path(user_id: @user.id) %>
    </strong>
  </p>
  <%# <%= button_to "Destroy this user", @user, method: :delete %>
</div>
