<p style="color: green"><%= notice %></p>

<h2>Recent Posts</h2>

<%= render @user %>

<div class="bottom">
  <%# <%= link_to "Edit this user", edit_user_path(@user) %>
  <p>
    <strong><%= link_to "Back to users", users_path %></strong>
  </p>

  <p>
    <strong>
    <%= link_to "SHOW ALL POSTS", "/users/#{@user.id}/posts" %>
    </strong>
  </p>
  <%# <%= button_to "Destroy this user", @user, method: :delete %>
</div>
