<div id="<%= dom_id post %>" class="post-item">
<%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>

  <h3>
    <strong>Post:</strong>
    <%= post.title %>
    (<%= @user.name %>)

  </h3>

  <p>
    <% if url_for.match(/posts\//) %>
      <%= "#{post.text}. " * 30 %>
    <% else %>
      <%= "#{post.text}. " * 10 %>
    <% end %>  
  </p>

<% end %>


  <div class="comments-container">
  <% if url_for.match(/posts/) %>
    <% if url_for.match(/posts\//) %>
    
        <% post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>

      <% else %>
        <% post.comments.each_with_index do |comment, index| %>
          <% if index < 5 %>
            <%= render comment %>
          <% end %>
        <% end %>


    <% end %>  
  <% end %>
  </div>

  <div class="comment-like-bottom">
    
    <% if user_signed_in? %>
      
      <% if (can? :destroy, Post) || (post.author_id == current_user.id) %>
        <%= button_to "delete", "/users/#{@user.id}/posts/#{post.id}", method: 'delete' %>
      
      <% end %>


      <%= button_to 'New comment', comment_new_path(user_id: post.author_id, id: post.id), method: 'get', class: 'link-btn' %>

      <strong>Comments:
        <%= post.comments_counter %>
      </strong>

      

      <%= button_to "#{post.likes_counter} likes", like_create_path(user_id: post.author_id, id: post.id), method: 'post' %>

    <% end %>



  </div>
</div>
