<div id="<%= dom_id post %>" class="post-item">
  <h3>
    <strong>Post:</strong>
    <%= post.title %>
  </h3>

  <p>
    <% if url_for.match(/posts\//) %>
      <%= "#{post.text}. " * 30 %>
    <% else %>
      <%= "#{post.text}. " * 10 %>
    <% end %>  
  </p>

  <div class="comment-like-bottom">
    <div class='link-btn'>
      <strong>
        <%= link_to 'New comment', comment_new_path(user_id: post.author_id, id: post.id) %>
      </strong>
    </div>

    <strong>Comments:
      <%= post.comments_counter %>
    </strong>
    <div>
      <%= button_to "#{post.likes_counter} likes", like_create_path(user_id: post.author_id, id: post.id), method: 'post' %>
    </div>
  </div>



  <div class="comments-container">
  <% if url_for.match(/posts/) %>
    <% if url_for.match(/posts\//) %>
        <%= render post.comments %>
      <% else %>
        <%= render post.recent_comments(5) %>
    <% end %>  
  <% end %>
  </div>

  

</div>
