<div id="<%= dom_id post %>" class="post-item">
  <h3>
    <strong>Post:</strong>
    <%= post.title %>
  </h3>

  <p>
    <%= "#{post.text}. " * 10 %>
  </p>

  <p class="comment-like-bottom">
    <strong>Comments:</strong>
    <%= post.comments_counter %>
    <strong>Likes:</strong>
    <%= post.likes_counter %>
  </p>



  <div class="comments-container">
  <% if url_for.match(/posts/) %>
    <% if url_for.match(/posts\//) %>
        <%= render post.comments %>
      <% else %>
        <%= render post.comments.limit(3) %>
    <% end %>  
  <% end %>
  </div>

  

</div>
