<div id="<%= dom_id post %>" class="post-item">
  <h3>
    <strong>Post:</strong>
    <%= post.title %>
  </h3>

  <p>
    <% if url_for.match(/posts\//) %>
      <%= "#{post.text}. " * 30 %>
    <% else %>
      <%= "#{post.text}. " * 10 %>
    <% end %>  
  </p>

  <div class="comment-like-bottom">
    
    <%= button_to 'New comment', comment_new_path(user_id: post.author_id, id: post.id), method: 'get', class: 'link-btn' %>

    <strong>Comments:
      <%= post.comments_counter %>
    </strong>
    <div>
      <%= button_to "#{post.likes_counter} likes", like_create_path(user_id: post.author_id, id: post.id), method: 'post' %>
    </div>
  </div>



  <div class="comments-container">
  <% if url_for.match(/posts/) %>
    <% if url_for.match(/posts\//) %>
        <% post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>

      <% else %>
        <% post.comments.each_with_index do |comment, index| %>
          <% if index < 5 %>
            <%= render comment %>
          <% end %>
        <% end %>


    <% end %>  
  <% end %>
  </div>

  

</div>
