<div id="<%= dom_id post %>" class="post-item">
  <p>
    <strong>Post:</strong>
    <%= post.title %>
  </p>

  <p>
    <%= post.text %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= post.comments_counter %>
    <strong>Likes:</strong>
    <%= post.likes_counter %>
  </p>



  
  <% if url_for.match(/posts/) %>
    <% if url_for.match(/posts\//) %>
        <%= render post.comments %>
      <% else %>
        <%= render post.comments.limit(3) %>
    <% end %>  
  <% end %>
  

  

</div>
