<p style="color: green"><%= notice %></p>

<h1>Recent Comments</h1>
<h2>
  <%= link_to 'Home', users_path %>
</h2>


<div id="posts">
  
  <%= render @user %>

  <% @posts.each do |post| %>
    <%# <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
      
      <%= render "post", post: post %>
      
    
  <% end %>
</div>

<div class="bottom">
  <strong>
  <%= link_to "Back to all posts", "/users/#{@user.id}" %>
  </strong>
</div>
<%# <%= link_to "New post", new_post_path %>
